<ion-view title="Presenter" id="page8" style="background-color:#607CBE;">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="presenter-card22">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <img src="{{pc.person.picture}}">
      </div>
      <div class="item item-body" id="presenter-list-item-container4">
        <div id="presenter-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;"></p>
          <p style="margin-top:0px;color:#000000;">{{pc.person.firstName}}</p>
          <p style="margin-top:0px;color:#000000;">{{pc.person.lastName}}</p>
          <p style="margin-top:0px;color:#000000;">{{pc.person.bio}} (This holds the bio, the ones I made are short, that's all)</p>
          
        </div>
      </div>
    </div>
  
  </ion-content>
</ion-view>